
*{
    padding: 0%;
    margin: 0%;
}

#back{
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right,rgb(76, 228, 248),rgb(128, 143, 140));
}

.contact{
    background-image: linear-gradient(to right,rgb(76, 228, 248),rgb(128, 143, 140));
    height: 30px;
    color: whitesmoke;
}

i{
    color: white;
    padding-left: 150px;
    margin-top: 5px;
}

a{
    margin-right: 50px;
    color: black;
}

#navbar{
    height: 50px;
    background-color: white;
    color: black;
}

.landing{
    height: 500px;
    background-image: url("newforest.jpg");
    background-size: cover;
    h2{
        font-size: 30px;
        color: white;
        padding-left: 150px;
        padding-top: 90px;
    }
    h4{
        font-size: 20px;
        color: white;
        padding-left: 150px;
        padding-top: 10px;
    }
    p{
        font-size: 15px;
        color: white;
        padding-left: 150px;
    }
}

.about{
    i{
        margin-left: 26px;
    }
    p{
        color: white;
    }
    height: 70px;
    margin-top: 30px;
}

#foot{
    background-color: white;
}

#foot{
    padding: 55px 30px 10px 150px;
}

#btn{
    height: 40px;
    width: 100px;
    border-radius: 30%;
    background-image: linear-gradient(to right,rgb(76, 228, 248),rgb(128, 143, 140));
    text-decoration: white;
    margin-top: -100px;
}

#img{
    background-image: url("aboutremove.png");
    margin-top: -150px;
    height: 200px;
    width: 300px;
    margin-left: 600px;
}

#servies{
    i{
        color: black;
        padding: 0%;
        margin-top: auto;
        margin-right: 75px;
    }
    h3{
        margin-top: 140px;
    }
}

#exp{
    background-image: url("experience.jpg");
    height: 150px;
    width: 150px;
    margin-left: 20px;
    background-size: cover;
}
#cd{
    background-image: url("Creative.jpeg");
    height: 150px;
    width: 150px;
    margin-left: 40px;
    background-size: cover;
}
#dm{
    background-image: url("digital marketing.jpeg");
    height: 150px;
    width: 150px;
    margin-left: 60px;
    background-size: cover;
}
#wd{
    background-image: url("web. Vector design");
    height: 150px;
    width: 150px;
    margin-left: 80px;
    background-size: cover;
}

#copyright{
    background-image: linear-gradient(to right,rgb(76, 228, 248),rgb(128, 143, 140));
    height: 100px;
    padding: 55px 30px 10px 150px;
    margin: 0%;
    h2{
        color: black;
    }
}